@import '../../style/colors.scss';
.central {
    display: flex;
}

.sidebar {
    flex-grow: 1;
    flex-basis: 300px;
    width: 30%;
    background: $pink;
    color: $white;
}

.main {
    flex-grow: 1;
    background: $white;
    width: 70%;
}