@import '../../../style/colors.scss'; 

header {
    background: $pink;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .logo {
        display: flex;
        align-items: center;
        img {
            width: 80px;
            height: 80px;
        }
        h1{
            margin-left: 10px;
            color: $white;
            font-size: 24px;
        }
    }
}