<div class="container"  *ngIf="condition">
  <!-- <h1>Book List <button class="btn btn-success" (click)="logout()">Logout</button></h1> -->
  <ul class="productsTable">
    <h1>вошел пользователь</h1>
    <!-- <li *ngFor="let product of products">
      <div class='product-container'>
        <h3>{{ product.title }}</h3>
        <img src=${{ product.pictureUrl }} alt='picture'> -->
        <!-- <p>{{ product.description }}</p> -->
        <!-- <span>{{ product.price }}</span> -->
      <!-- </div> -->
    <!-- </li> -->
  </ul>
  <!-- <div *ngIf="!condition">
    <h1>вошел админ!!!</h1>
  </div> -->
</div>
<div class='container' *ngIf="!condition" >
  <h1>вошел не пользователь!!!</h1>
</div>
