<div class="container"  *ngIf="condition">
  <!-- <h1>Book List <button class="btn btn-success" (click)="logout()">Logout</button></h1> -->
  <ul class="productsTable">
    <li *ngFor="let product of products" class='product-container'>
        <h3>{{product.title}}</h3>
        <!-- <img src={{product.pictureUrl}} alt='picture'> -->
        <p>{{product.description}}</p>
        <div class='price-block'>
          <span>{{product.price}}</span>
          <button>Add to basket</button>
        </div>
    </li>
  </ul>
<div *ngIf="admin">
    <form class="newProductForm" 
      (ngSubmit)="onSubmit(newProductForm)" 
      [formGroup]="newProductForm"
    >
      <h1>Add new product</h1>
      <label for='inputTitle'>Title of the product
        <input type='text' placeholder='title' formControlName="title"/>
      </label>
      <div class="error" *ngIf="isControlInvalid('title')">
        This field is required for input.
      </div>
      <label for='inputImage'>Please load the picture for product
        <input type="file" name="myimage" formControlName="image"
         class="file" (change)="onFileChange($event)"/>
      </label>
      <label for='inputDescription'>Description of the product
        <input type='textarea' placeholder='description' formControlName="description"/>
      </label>
      <div class="error" *ngIf="isControlInvalid('description')">
        This field is required for input.
      </div>
      <label for='inputPrice'>Price of the product
        <input type='text' placeholder='price' formControlName="price"/>
      </label>
      <div class="error" *ngIf="isControlInvalid('price')">
        Price can be only number type.
      </div>
      
      <button type="submit" [disabled]="!newProductForm.valid" name="submit" value="submit">Submit</button>
    </form>
  </div>
</div>
<div class='container' *ngIf="!condition" >
  <div class="notUser">
    <h1>Please login or sing in your information to see the products.</h1>
  </div>
</div>
