.slider {
    background-color: pink;
    display: flex;
    align-items: center;
    height: 450px;
    background-image: url('/assets/img/main.png');
    background-repeat: no-repeat;
    background-size: 70% 120%;
    background-position: -20px -30px;

    position: relative;
    h2 {
        position: absolute;
        top: 35%;
        right: 10%;
        font-size: 100px;
        color: white;
    }
}